<div class="accountVerificationDiv"> 
    <h2 style="text-align: center; font-weight: 600;"><%= locals.accountVerificationResponse %></h2>
</div>
<script>
    const run = ()=>{
        let value = $('.accountVerificationDiv h2').text() + "...Redirecting."
        $('.accountVerificationDiv h2').text(value);
        setTimeout(()=>{
            document.location.href = "/";
        }, 2000)
    }
    run();
</script>