<div class="accountVerifiedDiv"> 
    <h2 style="text-align: center; font-weight: 600;"><%= locals.accountVerificationResponse %></h2>
</div>
<script>
    // REDIRECT TO HOME PAGE AFTER 2s
    const run = ()=>{
        let value = $('.accountVerifiedDiv h2').text() + "...Redirecting."
        $('.accountVerifiedDiv h2').text(value);
        setTimeout(()=>{
            document.location.href = "/";
        }, 2000)
    }
    run();
</script>