
<link rel='stylesheet' type='text/css' href='/css/home.css'>

<div class="home">
    <div class="btns">
        <!-- SHOW RESET PASSWORD AND SIGN OUT WHEN USER IS PRESENT i.e. WHEN USER IS LOGGED IN -->
        <% if(locals.user){ %>
            <a type="button" onclick="sendResetLink('<%= locals.user.email %>')">Reset Password</a>
            <a type="button" href="/user/sign-out">Sign Out</a>
        <% }else{ %>
            <a type="button" href="/user/sign-in">Sign In</a>
            <a type="button" href="/user/sign-up">Sign Up</a>
        <% } %>
        
    </div>
</div>