
<link rel='stylesheet' type='text/css' href='/css/signUp.css'>

<div class="signUpDiv">

    <div class="signUpModal">

        <div class="header">
            <span>Sign Up</span>
        </div>

        <div class="body">
            <!-- ERROR AND SUCCESS NOTIFICATION -->
            <span class="error"></span>
            <span class="success"></span>
            
            <!-- SIGN UP FORM -->
            <form class="sign-up-form" method="POST" action="/user/sign-up">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter Email..." />
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter Password..." />
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password..." />
                
                <button type="submit">Sign Up</button>
            </form>
        </div>

        <div class="footer">
            <span>Already have an Account.? <a href="/user/sign-In" style="text-decoration: none;">Sign In</a></span>
        </div>
        
    </div>
</div>