<!-- ACCOUNT VERIFICATION MAIL TEMPLATE -->
<div style="background: #42deca;
padding: 10px 50px;">

        <h2 style="width: 100%;">Welcome,</h2>
        <p style="width: 100%;
        font-size: 1rem;">Thank You for Registering with us.</p>
        <p style="width: 100%;
        font-size: 1rem;">Click the button below to verify your Email ID.</p>
        <br>

        <!-- ACCOUNT VERIFICATION BUTTON -->
        <a style="width: 30%;
        text-align: center;
        text-decoration: none;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: 600;
        background: rgb(36, 161, 57);
        color: black;
        outline: none;" type="button" href="<%= hostName %>/user/account-verification/<%= accountVerificationToken %>">VERIFY</a>
</div>
