<!-- RESET PASSWORD MAIL TEMPLATE -->
<div style="background: burlywood;
padding: 10px 50px;">

        <h2 style="width: 100%;">Hey there,</h2>
        <p style="width: 100%;
        font-size: 1rem;">You recently requested to reset your password.Click the button below to reset it.</p>
        <br>

        <!-- RESET PASSWORD BUTTON -->
        <a style="width: 30%;
        text-align: center;
        text-decoration: none;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: 600;
        background: cadetblue;
        color: black;
        outline: none;" type="button" href="<%= hostName %>/user/password-reset/<%= resetToken %>">RESET PASSWORD</a>
</div>
